// Styles
@import "TopContent/styles";

%tiresModal_content {
  & .main-content {
    @extend %tiresModalContent_topContent;

    & .scrollbar-box {
      max-height: calc(100vh - 15rem);
    }

    & .top-content {
      padding-right: 1.15rem;
    }

    & .comment-form,
    & .scrollbar-box {
      padding-right: 0.35rem;
    }

    & .chat-box,
    & .comment-form {
      margin-top: 1rem;
    }

    & .comment-form {
      & .btn-add-comment {
        max-width: 150px;
        margin-left: auto;
      }
    }
  }
}
