%touchpointsTableResults_result {
  & .table-result-item {
    min-height: 50px;
    border-bottom: 1px solid #bdbdbd;

    & span {
      font-size: 12px;
      line-height: 17px;
      word-break: break-word;
      text-wrap-style: pretty;
    }

    &:last-of-type {
      border-bottom: none;
    }

    & .touchpoint-status {
      margin-left: 0.65rem;
    }
  }
}
