button {
  column-gap: 0.35rem;
  outline: none !important;
  transition: none !important;
  box-shadow: none !important;

  &:disabled {
    color: #959595 !important;
    background-color: #eceded !important;
  }

  &.btn-back,
  &.btn-cancel {
    color: #4f4f4f;
    border: 1px solid #bdbdbd;
    background-color: #ffffff;
  }

  &.btn-submit:enabled,
  &.btn-submit.submitting,
  &.btn-submit:disabled.submitting {
    color: #ffffff !important;
    border: 1px solid #2f80ed;
    background-color: #2f80ed !important;
  }
}
