%hexagons_hexagonList {
  & .hexagon-list {
    &.big-hexagons {
      & .truck2-icon {
        top: 40%;
      }

      & .truck3-icon {
        top: 47%;
      }

      & .truck5-icon {
        top: 40%;
        left: 60%;
      }
    }

    &.small-hexagons {
      margin-top: -35px !important;

      & .hexagon {
        min-height: 110px;

        & svg {
          min-width: 35px;
          max-width: 35px;
          min-height: 35px;
          max-height: 35px;
        }
      }
    }
  }
}
