// Styles
@import "mixins/big.scss";
@import "mixins/small.scss";

%hexagons_hexagonList {
  & .hexagon-list {
    column-gap: 0.1rem;

    & .hexagon-item {
      @extend %hexagonList_bigHexagon;
      @extend %hexagonList_smallHexagon;
    }

    &.small-hexagons {
      column-gap: 0.45rem;
      margin-top: -15px !important;
    }
  }
}
