%hexagonList_smallHexagon {
  &.small-hexagon {
    & .hexagon {
      min-width: 95px;
      min-height: 95px;

      & .hexagon-content {
        & .btn-hexagon {
          & svg {
            min-width: 28px;
            max-width: 28px;
            min-height: 28px;
            max-height: 28px;
          }
        }
      }
    }
  }
}
