// Styles
@import "./KPI/styles.scss";
@import "./RiskMeter/styles.scss";
@import "./AnswersEngine/styles.scss";

%resources_resource {
  & .resource {
    width: 33.33%;
    padding: 0 2rem;

    @extend %resource_kpi;
    @extend %resource_riskMeter;
    @extend %resource_answersEngine;

    & > .title {
      font-size: 18px;
    }

    & .risk-meter-box {
      margin: 4rem 0;
    }

    & .shadow-box {
      background-color: #ffffff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.08),
        0 12px 24px rgba(0, 0, 0, 0.06);
    }
  }
}
