%touchpointsTable_sizeConfig {
  & .query-field {
    width: 29%;
  }

  & .status-field {
    width: 15%;
  }

  & .touchpoint-field {
    width: 28%;
  }

  & .adn-field,
  & .weight-field {
    width: 14%;
  }
}
