%businessObjective_performanceIndicator {
  & .performance-indicator-box {
    min-height: 40px;
    padding: 0.35rem 0;
    border-radius: 12px;
    border: 1px solid #f2f2f2;

    & .total {
      font-size: 22px;
      margin-right: -35px;
    }

    & .unit-box {
      column-gap: 0.15rem;

      & svg {
        max-width: 11px;
        min-width: 11px;
        min-height: 11px;
        max-height: 11px;
      }
    }

    &.low {
      border-color: #ff4e63;
      outline: 1px solid #ff4e63;
      box-shadow: 0 1px 1px rgb(255, 78, 99, 0.05),
        0 4px 8px rgba(255, 78, 99, 0.08), 0 12px 24px rgba(255, 78, 99, 0.06);

      & .total {
        color: #ff4e63;
      }
    }
  }
}
